@use "../../../styles/utils/variables.scss" as *;

.departament {
  display: flex;
  flex-direction: column;
  gap: $gap-md;

  .title {
    position: relative;
    font-size: 20px;
    padding-left: 32px;

    @media screen and (max-width: 796px) {
      & {
        font-size: 16px;
      }
    }

    @media screen and (max-width: 560px) {
      & {
        text-align: justify;
        line-height: 1.5;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 22px;
      height: 2px;
      background-color: #fff;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;
  }
}
