@use "../../../styles/utils/variables.scss" as *;

.title {
  position: relative;
  width: fit-content;
  font-size: 32px;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding-inline: 24px;

  @media screen and (max-width: 768px) {
    & {
      font-size: 28px;
    }
  }

  @media screen and (max-width: 540px) {
    & {
      font-size: 20px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 64px;
    height: 3px;
    background-color: $text-color;
    left: -76px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      & {
        width: 32px;
        left: -16px;
      }

      @media screen and (max-width: 450px) {
        & {
          width: 24px;
          left: -8px;
        }
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 64px;
    height: 3px;
    background-color: $text-color;
    right: -76px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      & {
        width: 32px;
        right: -16px;
      }
    }
    
    @media screen and (max-width: 450px) {
      & {
        width: 24px;
        right: -8px;
      }
    }
  }
}
