@use "../../../styles/utils/variables.scss" as *;

.card {
  height: 100%;
  display: flex;
  align-items: center;

  gap: $gap-md;
  border-radius: $radius-lg;
  background-color: $card-bg;
  overflow: hidden;
  box-shadow: 0 0 12px rgba($color: $card-bg, $alpha: 0.8);

  &.row {
    flex-direction: row;
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }
}
