@use "../../styles/utils/variables.scss" as *;
@use "sass:color";

$border-color: #fff;
$checkbox-size: 18px;
$checkedbox-size: 18px;

$dark: #15171e;
$white: color.mix($dark, white, 20%);

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(43, 43, 43, 0.3);
  padding: 24px 48px;
  border-radius: $radius-md;

  @media screen and (max-width: 840px) {
    & {
      width: 100%;
      padding-inline: 24px;
    }
  }

  @media screen and (max-width: 540px) {
    & {
      padding-inline: 12px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;

    .item {
      border-radius: $radius-md;
      overflow: hidden;

      & > label {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: $gap-md;
        cursor: pointer;

        @media (hover: hover) {
          &:hover {
            & > span {
              opacity: 0.8;
            }
          }
        }

        & > span {
          font-size: 20px;
          position: relative;
          width: 100%;
          padding: 12px 24px 12px 32px;
          transition: opacity $animation;

          @media screen and (max-width: 840px) {
            & {
              font-size: 16px;
              padding-left: 48px;
            }
          }

          @media screen and (max-width: 540px) {
            & {
              font-size: 14px;
            }
          }

          &:before,
          &:after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 6px;
            top: 50%;
            width: $checkbox-size;
            height: $checkbox-size;
            background: transparent;
            border: 2px solid $border-color;
            border-radius: 4px;
            transition: transform $animation;
          }

          &::before {
            transform: translateY(-50%);
          }

          &:after {
            z-index: 0;
            border: none;
          }
        }

        & > .checkbox {
          display: none;

          &:checked {
            & ~ span {
              &:before {
                background: $border-color;
                transform: rotateZ(180deg) translateY(50%);
              }
            }
          }
        }
      }
    }
  }
}
