@use "../../styles/utils/variables.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
  padding-block: 24px;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap-lg;

    .title {
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }
  }
}
